# Filesystem
.DS_Store
.directory

# Build tools
.gradle
bin
build
target
/mods
test-output
test-results
test-tmp
*.class
.yardoc
.yardopts

# IDEA
.idea
out
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings
